// Dépendances
@import "../partial/embed";

// Personnalisation
.FieldEmbed-wrapper {
  display: flex;
  margin:0 -10px;
}

.FieldEmbed-input,
.FieldEmbed-preview {
  width:50%;
  padding:0 10px;
}

.FieldEmbed {
  width:100%;
  height:8em;
  resize:none;
}