// Dépendances
@import "../partial/embed";
@import "~presstify-framework/materials/spinner";

// Personnalisation
.FieldEmbed-wrapper {
  display: flex;
  margin:0 -10px;
}

.FieldEmbed-input,
.FieldEmbed-preview {
  width:50%;
  padding:0 10px;
}

.FieldEmbed-input {
  position: relative;
}

.FieldEmbed {
  width:100%;
  height:8em;
  resize:none;
}

@include materials-spinner(FieldEmbed-spinner);

.FieldEmbed-spinner {
  position: absolute;
  top:5px;
  right:15px;
  display:none;
}